<!DOCTYPE html>
<html ng-app="controllersWithMethods">

<head>
    <meta charset="utf-8">
    <title>Controllers</title>
    <meta name="viewport" content="width=device-width">
    <style> input, hr, button { display: block; margin: 10px 0}</style>
</head>

<body>

    <div ng-controller="myControllerWithMethods">
        
        <input type="number" ng-model="value1" />
        <input type="number" ng-model="value2" />
        
        <button ng-click="add()"> + </button>
        <button ng-click="multiply()"> x </button>
        
        <hr>
        
        <p>
            {{result}}
        </p>
        
        
    </div>
    
    

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js">
    </script>

    <script>
        var controllerApp = angular.module('controllersWithMethods', [])

          
        controllerApp.controller("myControllerWithMethods", function($scope){
            
            $scope.value1 = 0;
            $scope.value2 = 0;
            
            $scope.add= function (){ 
                $scope.result = $scope.value1 + $scope.value2;
            }
            
             $scope.multiply = function (){ 
                $scope.result = $scope.value1  * $scope.value2;
            }
        
        })

</script>
</body>

</html>
